@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App{
  background-color: rgb(98, 98, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  width: 40rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 6px 5px 10px -3px rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 95vh;
}

.container > img{
  border-radius: 10px;
}

.container > h2{
  text-align: center;
}

.selection-pays{
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
}

.selection-pays > label{
  font-size: 1.3rem;
}

.selection-pays > select{
  padding: 5px 3px;
  font-size: 1.2rem;
  outline: none;
  border-radius: 10px;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  margin-top: 4rem;
}

.input-container > label{
  font-size: 1.3rem;
}

.input-container > input {
  padding: 5px 3px;
  font-size: 1.2rem;
  outline: none;
  border-radius: 10px;
}

.input-container > button{
  padding: 5px 3px;
  font-size: 1.2rem;
  outline: none;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(98, 98, 255);
  cursor: pointer;
}

.button{
  padding: 7px 5px;
  color: white;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(98, 98, 255);
  cursor: pointer;
}